{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 review-test">
                {{ phone.name }}
                {{ phone.rating }}

                <span class="text-left star-rating">
                    <input type="hidden" name="rating" id="rating_1" value="1">
                    <a onclick="setRating(1);"><i class="rating-star far fa-star"></i></a>
                    
                    <input type="hidden" name="rating" id="rating_2" value="2">
                    <a onclick="setRating(2);"><i class="rating-star far fa-star"></i></a>

                    <input type="hidden" name="rating" id="rating_3" value="3">
                    <a onclick="setRating(3);"><i class="rating-star far fa-star"></i></a>

                    <input type="hidden" name="rating" id="rating_4" value="4">
                    <a onclick="setRating(4);"><i class="rating-star far fa-star"></i></a>

                    <input type="hidden" name="rating" id="rating_5" value="5">
                    <a onclick="setRating(5);"><i class="rating-star far fa-star"></i></a>
                </span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4 review-test">
                <a href=""><img src="{{ phone.img_1.url }}" class="review-image" alt="{{ phone.name }}"></a>
            </div>
            <div class="col-6 review-test">
                <form action="{% url 'add_review' phone.id %}" method="POST">
                    {% csrf_token %}

                    <label for="title">Review title</label>
                    <input type="text" name="review_title" id="title">

                    <label for="body">Review body</label>
                    <input type="textbox" name="review_body" id="body">

                    <input type="hidden" id="rating" name="rating">
                    <button type="submit">Submit review</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        function setRating(value) {
            document.getElementById("rating").value = document.getElementById(`rating_${value}`).value;
            console.log(value)

            // Code below from https://www.youtube.com/watch?v=iz1GB_q5txM
        }
        
    </script>
    <script text="text/javascript">
        const ratingStar = [...document.getElementsByClassName("rating-star")];
        function ratings(stars) {
            var starActive = "rating-star fas fa-star";
            var starInactive = "rating-star far fa-star";
            var starsLength = stars.length;
            let i;

            stars.map((star) => {
                star.onclick = () => {
                    i = stars.indexOf(star);

                    if (star.className===starInactive) {
                        for (i; i >= 0; --i) stars[i].className = starActive;
                    } else {
                        for (i; i < starsLength; ++i) stars[i].className = starInactive;
                    }
                };
            });
        }
        ratings(ratingStar);

    </script>
    <!-- Rating star JS -->
    <!-- https://dev.to/leonardoschmittk/how-to-make-a-star-rating-with-js-36d3 -->
{% endblock %}