{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 review-test">
                {{ phone.name }}
                {{ phone.rating }}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4 review-test">
                <img src="{{ phone.img_1.url }}" class="review-image" alt="{{ phone.name }}">
            </div>
            <div class="col-6 review-test">
                <form action="">
                    <label for="title">Review title</label>
                    <input type="text" name="title" id="title">

                    <label for="body">Review body</label>
                    <input type="textbox" name="body" id="body">

                    <input type="text" name="rating" id="rating">

                    <button type="submit">Submit review</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}