{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-8 col-md-10 col-sm-8">
                <p class="allauth-text allauth-text-info text-center" id="checkout-text-info">Free Delivery for purchases over £799.99</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-8 col-md-10 col-sm-8 bag-background bag-items">
                <!-- If the bag has items in it -->
                {% if bag_items %}
                    {% for item in bag_items %}
                        <div class="bag-detail">
                            <img src="{{ item.phone.img_1.url }}" alt="{{ item.phone.name }}" class="bag-img">
                            <h2 class="bag-detail-title">{{ item.phone }}</h2>
                            <h3>{{ item.phone.sku|upper }}</h3>
                            <h3>Capacity: {{ item.item_data.storage }} GB</h3>
                            <h3>Qty: {{ item.item_data.quantity }}</h3>
                            <h2>Cost: <span>£{{ item.item_data.price }}</span></h2>
                            <!-- Bag items -->
                            <a class="bag-btn delete-item bag-delete-link" href="javascript:void(0)" id="delete_{{ item.item_id }}">Delete</a>

                            <form class="update-form" method="POST" action="{% url 'edit_phone_bag' item.item_id %}">
                                {% csrf_token %}
                                <input type="number" name="quantity" class="update" value="{{ item.item_data.quantity }}" id="it_qty_{{ item.item_data.quantity }}" min="1" max="5">
                                <button class="bag-btn update-item" type="submit">Update</button>
                            </form>
                            <br>
                            <hr class="bag-hr">
                        </div>
                    {% endfor %}
                    
                {% else %}
                <!-- Your bag is empty -->
                <div>
                    <h1 class="text-center">Your bag is empty</h1>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-8 col-md-10 col-sm-8 bag-total">
                <h1 class="bag-total-title">Bag total: £{{ grand_total|floatformat:2 }}</h1>
                <h1 class="bag-total-title">Delivery: £{{ delivery|floatformat:2 }}</h1>
                <a class="bag-btn" id="bag-btn-submit" href="{% url 'checkout' %}">Checkout</a>
            </div>
        </div>
        <!-- Bag total -->
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/phone.js' %}"></script>
    <script type="text/javascript">

        $(".update-item").click(function(e){
            var form = $(this).prev(".update-form");
            form.submit();
        });
        // Updates phone quantity 

        $(".delete-item").click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr("id").split("delete_")[1];
            var url = `/bag/delete/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
                .done(function() {
                    location.reload();
            });
        });
        // Deletes phone from bag
        // Used form django mini project
    </script>
    

{% endblock %}