{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 bag-background bag-items">
                {% if bag_items %}
                    {% for item in bag_items %}    
                        <div class="bag-detail">
                            <img src="{{ item.phone.img_1.url }}" alt="{{ item.phone.name }}" class="bag-img">
                            <h2>{{ item.phone }}</h2>
                            <h3>{{ item.phone.sku|upper }}</h3>
                            <h3>Capacity: {{ item.item_data.storage }} GB</h3>
                            <h3>Qty: {{ item.item_data.quantity }}</h3>
                            <h2>Cost: <span>£{{ item.item_data.price }}</span></h2>
                            <br>
                            <br>
                            <!-- <a class="bag-btn edit-item" href="javascript:void(0)" id="edit{{ item.item_id }}">Edit</a> -->
                            <a class="bag-btn edit-item" href="javascript:void(0)" id="">Edit</a>
                            <a class="bag-btn delete-item" href="javascript:void(0)" id="delete_{{ item.item_id }}">Delete</a>
                            <hr class="bag-hr">
                            
                        </div>
                    {% endfor %}
                    {{ bag_items }}
                {% else %}
                <!-- Your bag is empty -->
                <div>
                    <h1>Your bag is empty</h1>   
                </div>
                {% endif %} 
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6 bag-total bag-background">
                <h1>Bag total: £{{ grand_total|floatformat:2 }}</h1>
                <p>Delivery??</p>
                <a class="bag-btn" id="bag-btn-submit" href="{% url 'checkout' %}">Checkout</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(".delete-item").click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr("id").split("delete_")[1];
            var url = `/bag/delete/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
                .done(function() {
                    location.reload();
            });
        })
        // Used form django mini project
    </script>

{% endblock %}