{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                <a class="btn btn-primary" data-toggle="collapse" href="#deliveryInfo" role="button" aria-expanded="false" aria-controls="deliveryInfo">
                    Set default delivery information:
                </a>
                
                <div class="collapse" id="deliveryInfo">
                    <div class="">
                        <form action="{% url 'profile' %}" method="POST" id="profile-save-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit">Set Default</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Order History:</h1>
                <div class="bag-background bag-items">
                    {{ orders }}
                    {% for order in orders %}    
                        <div class="bag-detail">
                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}"><h3>{{ order.order_number|truncatechars:6 }}<h3></a>
                            <h3>{{ order.date }}</h3>
                            <h5>Order Total: £{{ order.order_total }}</h5>
                            <h5>Delivery Fee: £{{ order.delivery_cost }}</h5>
                            <h5>Grand Total: £{{ order.grand_total }}</h5>

                            <!-- Need to have webhooks working first i think -->
                            
                            <h3>{{ order.phone.sku|upper }}</h3>
                            <h3>Capacity: {{ order.storage }} GB</h3>
                            <h3>Qty: {{ order.quantity }}</h3>
                            
                            <hr class="bag-hr">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}