{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4">
                <form action="{% url 'add_phone' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="">
                        <a href="{% url 'store' %}">Cancel</a>
                        <button type="submit">Add phone</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}