{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4">
                <h1>Edit Phone</h1>
                <form action="{% url 'edit_phone' phone.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="">
                        <a href="{% url 'store' %}">Cancel</a>
                        <button type="submit">Update Phone</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}