{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-10">
                <div class="phone-details">
                    <h1>{{ phone.name }}</h1>
                    <h4>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </h4>
                    
                    <div id="phoneImages" class="carousel slide phone-image-slideshow" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#phoneImages" data-slide-to="0" class="active"></li>
                            <li data-target="#phoneImages" data-slide-to="1"></li>
                            <li data-target="#phoneImages" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ phone.img_1.url }}" class="phone-image" alt="{{ phone.name }}">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ phone.img_2.url }}" class="phone-image" alt="{{ phone.name }}">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ phone.img_3.url }}" class="phone-image" alt="{{ phone.name }}">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-target="#phoneImages" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-target="#phoneImages" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </button>
                    </div>

                    {% if request.user.is_superuser %}
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <small><a class="text-primary" href="{% url 'edit_phone' phone.pk %}">Edit</a></small>
                            </div>
                            <div class="col-3">
                                <small><a class="text-danger" href="{% url 'delete_phone' phone.pk %}">Remove</a></small>
                            </div>
                        </div>
                    {% endif %}

                    <div class="phone-specs">
                        <i class="fas fa-camera phone-icon"><span class="phone-text"> {{ phone.camera }}</span></i>
                        <i class="fas fa-microchip phone-icon"><span class="phone-text"> {{ phone.os }}</span></i>
                        <i class="fas fa-mobile phone-icon"><span class="phone-text"> {{ phone.screen }}</span></i>
                        <i class="fas fa-hdd phone-icon"><span class="phone-text"> {{ phone.capacity }}</span></i>
                    </div>
                </div>

                <div class="phone-options">

                    <h3>Color:</h3>
                    <ul class="phone-list">
                        <li>
                            <input type="hidden" name="color" id="color_1" value="{{ phone.color_1 }}">
                            <a class="phone-form" id="color-1" onclick="setColor(1);"><p class="hide">{{ phone.color_1 }}</p></a>
                        </li>
                        {% if phone.color_2 %}
                            <li>
                                <input type="hidden" name="color" id="color_2" value="{{ phone.color_2 }}">
                                <a class="phone-form" id="color-2" onclick="setColor(2);"><p class="hide">{{ phone.color_2 }}</p></a>
                            </li>
                        {% endif %}
                        {% if phone.color_3 %}
                            <li>
                                <input type="hidden" name="color" id="color_3" value="{{ phone.color_3 }}">
                                <a class="phone-form" id="color-3" onclick="setColor(3);"><p class="hide">{{ phone.color_3 }}</p></a>
                            </li>
                        {% endif %}
                        {% if phone.color_4 %}
                            <li>
                                <input type="hidden" name="color" id="color_4" value="{{ phone.color_4 }}">
                                <a class="phone-form" id="color-4" onclick="setColor(4);"><p class="hide">{{ phone.color_4 }}</p></a>
                             </li>
                        {% endif %}
                        <!-- Use JS for colors -->
                    </ul>
                       
                    <h3>Storage:</h3> 
                    <ul class="phone-list">
                        <!-- value of storage and data-set of price -->
                        <li>
                            <input type="hidden" name="storage" id="storage_1" value="{{ phone.storage_1 }}">
                            <input type="hidden" name="price" id="price_1" value="{{ phone.price_1 }}">
                            <a class="phone-form" onclick="setStorage(1);">{{ phone.storage_1 }} GB</a>
                        </li>
                        {% if phone.storage_2 %}
                            <li>
                                <input type="hidden" name="storage" id="storage_2" value="{{ phone.storage_2 }}">
                                <input type="hidden" name="price" id="price_2" value="{{ phone.price_2 }}">
                                <a class="phone-form" onclick="setStorage(2);">{{ phone.storage_2 }} GB</a>
                            </li>
                        {% endif %}
                        {% if phone.storage_3 %}
                            <li>
                                <input type="hidden" name="storage" id="storage_3" value="{{ phone.storage_3 }}">
                                <input type="hidden" name="price" id="price_3" value="{{ phone.price_3 }}">
                                <a class="phone-form" onclick="setStorage(3);">{{ phone.storage_3 }} GB</a>
                            </li>
                        {% endif %}
                        {% if phone.storage_4 %}
                            <li>
                                <input type="hidden" name="storage" id="storage_4" value="{{ phone.storage_4 }}">
                                <input type="hidden" name="price" id="price_4" value="{{ phone.price_4 }}">
                                <a class="phone-form" onclick="setStorage(4);">{{ phone.storage_4 }} GB</a>                          
                             </li>
                        {% endif %}
                    </ul>

                    <form action="{% url 'add_phone_bag' phone.pk %}" method="POST">
                        {% csrf_token %}
                
                        <div class="phone-bag">
                            <h3>Total cost: £<input class="phone-select" id="price" name="price" value="{{ phone.price_1 }}" readonly></h3>
                            <input type="hidden" id="color" name="color" value="{{ phone.color_1 }}" style="background-color: {{ phone.color_1 }}; border-radius: 10px; color: {{phone.color_1 }};">
                            <p>Current storage selected: <input class="phone-select" id="storage" name="storage" value="{{ phone.storage_1 }}" readonly></p>

                            <!-- This should display the selected storages price -->
                            <h5>Quantity:
                                <select name="quantity" id="quantity">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </h5>
                            <button type="submit" class="bag-btn" id="add-bag-btn">Add to basket</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                        
                    </form>
                </div>

                <div class="phone-review">
                    <h2 class="text-center">{{ phone.name }} Reviews</h2>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'review' phone.id %}"><h6 class="text-center">Add review</h6></a>
                    {% else %}
                        <a href="{% url 'account_signup' %}"><h6 class="text-center">Want to leave a review? Sign up here</h6></a>
                        <a href="{% url 'account_login' %}"><h6 class="text-center">Want to leave a review? Log in</h6></a>
                    {% endif %}

                    <div class="user-review">
                        {% for review in reviews %}
                            {% if review.phone_name == phone %}
                                <h5>{{ review.user_name }}</h5>
                                <h3>{{ review.review_title }}</h3>
                                <h4>
                                    <i data-rating="1" class="review-star far fa-star"></i>
                                    <i data-rating="2" class="review-star far fa-star"></i>
                                    <i data-rating="3" class="review-star far fa-star"></i>
                                    <i data-rating="4" class="review-star far fa-star"></i>
                                    <i data-rating="5" class="review-star far fa-star"></i>
                                    <input type="text" value="{{ review.rating }}" name="rating" id="review-rating"><p>{{ review.rating }} Stars</p>
                                </h4>
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'delete_review' review.id %}">Remove</a>
                                {% endif %}
                                <p>{{ review.review_body }}</p>
                            {% else %}
                                <h2 class="text-center">There a currently no reviews on this phone</h2>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/phone.js' %}"></script>
    <script type="text/javascript">
        function setColor(value){
            console.log(value);
            document.getElementById("color").value = document.getElementById(`color_${value}`).value;
            // document.getElementById("color-selected").style.background = value;

        }
        
        function setStorage(value){
            console.log(value);
            document.getElementById("storage").value = document.getElementById(`storage_${value}`).value;
            document.getElementById("price").value = document.getElementById(`price_${value}`).value;
        }
    </script>

    <script type="text/javascript">
        const reviewStar = [...document.getElementsByClassName("review-star")];
        // const rating = document.getElementById("review-rating").value;

        function reviewRatings(stars) {
            var starActive = "review-star fas fa-star";
            var starInactive = "review-star far fa-star";
            var starsLength = stars.length;
            let i;

            var rating = document.getElementById("review-rating").value;


            stars.map((star) => {
                i = stars.indexOf(star);
                if (rating == star.dataset.rating) {
                    if (star.className===starInactive) {
                        for (i; i >= 0; --i) {
                            stars[i].className = starActive;
                            if (i === 5) { 
                                break;
                            }
                        }
                    } else {
                        for (i; i < starsLength; ++i) {
                            stars[i].className = starInactive;
                        }
                    }
                }      
            });
        };
        
        reviewRatings(reviewStar);

    </script>
    </script>
{% endblock %}