{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col-12">
                <h5>{{ phones|length }} Phone's{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}</h5>
            </div>

            <a class="nav-link dropdown-toggle" href="#" id="sortBy" role="button" data-toggle="dropdown" aria-expanded="false">
                Sort By ---
            </a>
            <div class="dropdown-menu" aria-labelledby="sortBy">
                <a class="dropdown-item" href="?sort=rating&direction=desc">Rating high to low</a>
                <a class="dropdown-item" href="?sort=rating&direction=asc">Rating low to high</a>
                <a class="dropdown-item" href="?sort=price_1&direction=asc">Price low to high</a>
                <a class="dropdown-item" href="?sort=price_1&direction=desc">Price high to low</a>
            </div>
            <!-- Store filter dropdown -->
        </div>

        <div class="row">
            <!-- IF display_store is equal to true show -->
            {% for phone in phones %}
                {% if phone.display_store == True %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="product-card">
                            <h4 class="text-left">{{ phone.name }}</h4>
                            <div class="row justify-content-center">
                                <div class="col-7 product-content">
                                    <h2>£{{ phone.price_1 }}</h2>
                                    <h4 class="rating">
                                        {% if phone.rating == 1 %}
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                        {% elif phone.rating == 2 %}
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                        {% elif phone.rating == 3 %}
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                        {% elif phone.rating == 4 %}
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                        {% elif phone.rating == 5 %}
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs fas fa-star"></i>
                                            <i class="rating-star star-xs fas fa-star"></i>
                                        {% else %}
                                            <i class="rating-star star-xs far fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                            <i class="rating-star star-xs far fa-star"></i>
                                        {% endif %}
                                    </h4>
                                    <!-- Phone rating -->
                                </div>
                                <div class="col-5 product-details">
                                    <a href="{% url 'phone_detail' phone.pk %}" class="product-btn">More details</a>
                                </div>
                            </div> 
                            <hr>
                            <img src="{{ phone.img_1.url }}" class="product-image" alt="{{ phone.name }}">
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5"></div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5"></div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5"></div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5"></div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!-- Less phone cards per row on smaller devices -->
        </div>  
        
        
    </div>
{% endblock %}
