{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5>Showing X out of X</h5>
            </div>

            <div class="col-2">
                <select name="" id="">
                    <option value="">Sort By ---</option>
                    <option value="">Price low to high</option>
                    <option value="">Price high to low</option>
                    <option value="">Rating low to high</option>
                    <option value="">Rating high to low</option>
                </select>
            </div>
        </div>

        <div class="row row-desktop">
            <!-- Phone 1 -->
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3">
                <div class="product-card">  
                    <div class="row">
                        <div class="col-7 product-content">
                            <h3>Samsung S21</h3>
                            <h2>£779.99</h2>
                            <h4>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </h4>
                        </div>
                        <div class="col-5 product-details">
                            <a href="" class="product-btn">More details</a>
                        </div>
                    </div> 
                    <hr>
                    <img src="../media/s21.jpg" class="product-image" alt="">
                </div>
            </div> 

            <!-- Phone 2 -->

            <div class="col-sm-10 col-md-6 col-xl-3">
                <div class="product-card">  
                    <div class="row">
                        <div class="col-7 product-content">
                            <h3>Samsung S21</h3>
                            <h2>£779.99</h2>
                            <h4>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </h4>
                        </div>
                        <div class="col-5 product-details">
                            <a href="" class="product-btn">More details</a>
                        </div>
                    </div> 
                    <hr>
                    <img src="../media/s21.jpg" class="product-image" alt="">
                </div>
            </div> 

            <!-- Phone 3 -->

            <div class="col-sm-10 col-md-6 col-xl-3">
                <div class="product-card">  
                    <div class="row">
                        <div class="col-7 product-content">
                            <h3>Samsung S21</h3>
                            <h2>£779.99</h2>
                            <h4>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </h4>
                        </div>
                        <div class="col-5 product-details">
                            <a href="" class="product-btn">More details</a>
                        </div>
                    </div> 
                    <hr>
                    <img src="../media/s21.jpg" class="product-image" alt="">
                </div>
            </div> 
        </div>  
        
    </div>
{% endblock %}