{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 home">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="banner-title">PrimeMobile</h1>
                <h4 class="banner-subtitle">One Stop Shop</h4>
                <div>
                    <h4 class="my-3">
                        <a href="{% url '' %}" class="banner-btn">Shop Now</a>
                    </h4>
                </div>
                <div>
                    <a title="SIM Only deals" alt="SIM Only deals" href=""><i class="fas fa-sim-card banner-link"></i></a>
                    <a title="SIM Free deals" alt="SIM Free deals" href=""><i class="fas fa-mobile banner-link"></i></a>
                    <a title="SIM Plan deals" alt="SIM Plan deals" href=""><i class="fas fa-mobile-alt banner-link"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
