{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 bag-background bag-items">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6 bag-total bag-background">
                
            </div>
        </div>

        <div class="order-from">
            <form action="">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
            </form>
        </div>
    </div>

{% endblock %}