{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/stripe.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if request.user.is_authenticated %}
        {% else %}
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-8 col-xl-6">
                <p class="allauth-text allauth-text-info text-center" id="checkout-text-info">Sign in for faster checkout and keep track of all your orders in one place!</p>
                <p class=""><a href="{% url 'account_login' %}">Log in here</a> or <a href="{% url 'account_signup' %}">Sign up here</a></p>
            </div>
        </div>
        {% endif %}

        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-8 col-xl-6 bag-background checkout-bag-background bag-items">
                {% for item in bag_items %}    
                    <div class="bag-detail">
                        <img src="{{ item.phone.img_1.url }}" alt="{{ item.phone.name }}" class="checkout-img">                            <h2>{{ item.phone }}</h2>
                        <h3>{{ item.phone.sku|upper }}</h3>
                        <h3>Capacity: {{ item.item_data.storage }} GB</h3>
                        <h3>Qty: {{ item.item_data.quantity }}</h3>
                        <h2>Cost: <span>£{{ item.item_data.price }}</span></h2>
                        <br>
                        <br>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-8 col-xl-6 bag-total bag-background">
                <p class="checkout-total-title ml-0">Bag total: £{{ total|floatformat:2 }}</p>
                <p class="checkout-total-title">Delivery: £{{ delivery|floatformat:2 }}</p>
                <p class="checkout-total-title">Grand total: £{{ grand_total|floatformat:2 }}</p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-8 col-xl-6 order-from">
                <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                    <h1 class="checkout-title">Checkout infomation</h1>
                    {% csrf_token %}
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {% if user.is_authenticated %}
                        <label for="save-info">Save delivery infomation for faster checkout</label>
                        <input type="checkbox" name="save-info" id="id-save-info" checked>
                    {% else %}
                        <a href="{ url 'account_signup' }">Create an account</a>
                        <a href="{ url 'account_login' }">Log in here</a>
                    {% endif %}
                    
                    <!-- Payment input -->
                    <div id="card-element"></div>
                    <div class="text-danger" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    <!-- Django mini project -->

                    <div class="checkout-complete">
                        <h2 class="total-charge">Total charge £{{ grand_total|floatformat:2 }}</h2>
                        <button type="submit" id="checkout-submit" class="prime-btn">Complete Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="https://js.stripe.com/v3/"></script>
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
