/* Genral */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300;400;700&display=swap');

html {
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0px;
}

body {
    background: url(/media/banner.jpg) no-repeat center center fixed;
    background-size: cover;
    /* height: calc(100vh - 164px); */
    position: relative;
    min-height: 100vh;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

body a {
    color: white;
}

body a:hover {
    color: white !important;
    text-decoration: none;
}

.text-black {
    color: #181818!important;
}

.overlay{
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #04162e;
	z-index: -1;
}

h1, h2 {
    font-family: 'Bebas Neue', cursive;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

/* Genral */

/* Nav-bar */

.nav-title {
    font-size: 2.5em;
    margin-top: 3px;
    margin-bottom: 0px;
}

.nav-color {
    background-color: transparent;
}

.mobile-menu {
    padding: 10px 15px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white!important;
    border-radius: 0.25rem;
    color: white;
}

.total-bag {
    margin-right: 25px;
    border: 1px solid white;
    border-radius: 45px;
    box-shadow: 1px 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
    font-size: 1.2em !important;
    padding: 0.5rem 0.5em;
}

.bag-icon {
    font-size: 0.9em !important;
}

.total-bag:hover {
    box-shadow: 2px 1px #21fdda;
}

.search-bar {
    width: 210px;
    height: 42px;
    border: 1px solid black;
    border-right: none;
    margin-right: 0px!important;
    border-radius: 45px 0px 0px 45px;
    box-shadow: 1px 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.search-bar:hover {
    box-shadow: 2px 1px #21fdda;
}

.search-submit {
    width: 50px;
    height: 42px;
    background-color: #fff;
    border: 1px solid black;
    border-left: none;
    border-radius: 0px 45px 45px 0px;
    box-shadow: 1px 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.search-submit:hover {
    box-shadow: 2px 1px #21fdda;
}

/* Nav-bar */

/* Footer */

.footer-link {
    display: block;
    font-size: 1.2em;
    padding: 3px;
    margin-top: 3px;
}

.footer{
    background-color: rgba(4, 22, 46, 0.6)!important;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    /* border-top: 0.5px solid black; */
}

/* Footer */

/* Home */

.home {
    margin-bottom: 175px;
    margin-top: 150px;
}

.banner-title{
    color: white;
    font-size: 6em;
}

.banner-subtitle {
    color: white;
    font-size: 2.5em;
}

.banner-btn {
    color: white;
    background-color: black;
    padding: 15px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.banner-link {
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 12.5px;
    margin-left: 12.5px;
    font-size: 1.75em;
    border-radius: 90px;
    width: 45px;
    height: 45px;
}

/* Home */

/* Store page */

.product-card {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border: solid black 1px;
    color: #cecece;
    width: 350px!important;
    height: 550px;
    margin-top: 10px;
    border-radius: 18px;
    display: block;
    text-align: center;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.product-card:hover {
    box-shadow: 5px 5px 5px 5px #21fdda;
    background-color: rgba(85, 85, 85, 0.15);
    backdrop-filter: blur(15px);
}

.product-card h3, h4 {
    margin-bottom: 5px;
}

.product-card hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

.product-content {
    position: relative;
    left: 0;
    text-align: start;
    padding-right: 0px;
}

.product-image {
    height: 400px;
    max-width: 350px;
    border-radius: 45px;
    object-fit: cover;
}

.product-image:hover {
    transition: all .3s cubic-bezier(0,0,.5,1);
    height: 404px;
}

.product-details {
    padding-left: 0;
}

.product-btn {
    border: solid black 1px;
    padding: 10px;
    border-radius: 40px;
    background-color: #04162e;
    box-shadow: 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
    color: white;
    display: block;
    font-size: 1.15em;
    margin-top: 25px;
}

.product-btn:hover {
    box-shadow: 2px 1px #21fdda;
}

/* Store page */

/* Phone details page */

#add-bag-btn {
    width: 150px;
}

.phone-details {
    text-align: center;
    margin-bottom: 10px;
}

.phone-image-slideshow {
    height: 650px;
    width: 550px;
    display: inline-block;
}

.phone-image {
    height: 600px;
    max-width: 500px;
}

.phone-specs {
    padding: 20px;
    padding-top: 10px;
}

.phone-icon {
    font-size: 2em;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    font-style: normal;
}

.phone-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
    /* font-family: 'Ubuntu', sans-serif; */
}

.phone-options {
    border: white 1px solid;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: rgba(85, 85, 85, 0.15);
    backdrop-filter: blur(15px);
}

.phone-bag {
    display: inline-block;
}

.phone-select {
    border: none;
    color: white;
    width: 110px;
    background-color: rgba(85, 85, 85, 0.15);
}

.phone-form {
    border: white solid 1px;
    background-color: #181818;
    border-radius: 90px;
    padding: 10px;
    margin: 10px;
    height: 50px;
    width: 125px;
    font-size: 1.2em;
    display: block;
    text-align: center;
}

.phone-form:active {
    border: #21fdda 3px solid;
}

.phone-list {
    display: flex;
    flex-direction: row;
}

.phone-review {
    border: black 1px solid;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(85, 85, 85, 0.15);
    backdrop-filter: blur(15px);
}

.user-review {
    font-size: 1.2em;
}

.review-box {
    backdrop-filter: blur(5px);
    background-color: rgba(4, 22, 46, 0.8);
    border: black solid 1px;
    box-shadow: 1px 1px 1px #C31a8f;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}

.review-box:hover {
    font-size: 1.03em;
    transition: all .3s cubic-bezier(0,0,.5,1);
    box-shadow: 3px 3px 3px 3px #21fdda;
    background-color: rgba(3, 36, 79, 0.15);
    backdrop-filter: blur(5px);
}

.review-body {
    overflow-wrap: break-word;
    max-height: 100px;
}

.phone-bag-form {
    text-align: right;
}

/* Phone details page */

/* Bag page */

#bag-btn-submit {
    width: 125px;
    text-align: center;
}

.bag-background {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 20px;
    margin: 10px;
    border-radius: 18px;
    display: block;
}

.bag-items {
    padding-left: 0px;
}

.bag-btn {
    border: solid black 1px;
    padding: 7.5px 15px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: #04162e;
    box-shadow: 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
    color: white;
    font-size: 1.4em;
    width: 100px !important;
    height: 45px !important;
}

.update-bag-btn {
    border: solid black 1px;
    padding: 7.5px 10px;
    text-align: center;
    border-radius: 40px;
    background-color: #04162e;
    box-shadow: 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
    color: white;
    height: 45px !important;
    font-size: 1.4em;
}

.update {
    height: 45px !important;
    width: 40px !important;
    border: solid black 1px;
    background-color: #04162e;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #C31a8f;
    font-size: 1.45em;
}

.update-form {
    height: 45px;
    margin-top: 15px;
}

.bag-btn:hover {
    box-shadow: 1px 1px 1px 1px #21fdda;
}

.bag-hr {
    border: rgba(255, 255, 255, .15) solid 1px;
}

.bag-detail {
    position: relative;
    left: 0;
    text-align: end;
    padding-right: 0px;
    margin-bottom: 15px;
}

.bag-detail h2{
   font-family: 'Ubuntu', sans-serif;
}

.bag-img {
    float: left;
    height: 325px;
}

.bag-total {
    display: flex;
    justify-content: center;
    background-color: #04162e;
    padding: 10px;
    border-radius: 18px;
    border: 1px solid black;
}

.bag-total-title {
    margin-right: 20px;
}

.edit-card {
    padding: 5px;
}

/* Bag page */

/* Checkout */

#card-element {
    background-color: #181818 !important;
    color: white !important;

}

#checkout-form {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 20px;
    margin: 10px;
    border-radius: 18px;
}

.checkout-title {
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #04162e;
    border-radius: 18px 18px 0px 0px;
    border: black 1px solid;
}

.checkout-total-title {
    font-size: 2em;
    margin-left: 30px;
    padding-top: 10px;
}

.stripe-style-input {
    color: white;
    background-color: #181818 !important;
}

.checkout-complete {
    display: flex;
    justify-content: baseline;
    margin-top: 20px;
}
.total-charge {
    font-size: 2em;
    margin-bottom: 0px;
    margin-right: 10px;
}
.prime-btn {
    background-color: #181818 !important;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    border-radius: 24px;
    cursor: pointer;
    color: white;
    padding: 5px 15px !important;
    border: none !important;
}
.prime-btn:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%) !important;
    outline: none !important;
}

.prime-btn:focus {
    outline: none !important;
    border: 3px solid #4285f4 !important;
    background-color: #181818 !important;
    color: #4285f4 !important;
}

.prime-btn:hover {
    outline: none !important;
    background-color: #181818 !important;
    border: 2px solid #4285f4 !important;
  }
  

/* Checkout */

/* Checkout success */

#success-order-total {
    font-size: 2em;
}
.order-number {
    overflow: auto;
}
.success-box {
    padding: 20px;
}
.success-details {
    background-color: #04162e;
    padding: 15px;
    border-radius: 18px;
}
.success-table {
    color: white;
    border-radius: 18px 18px 0px 0px !important;
    background-color: #04162e;
    border-radius: 5px;
    border-bottom: white solid 1px;
}
.table {
    margin-bottom: 0rem !important;
}
.success-total {
    display: flex;
    justify-content: center;
    background-color: #04162e;
    border-radius: 0px 0px 18px 18px;
    border: black 1px 1px 0px 1px solid;
    padding: 15px;
}
.success-total-title {
    margin-left: 12.5px;
    font-size: 1.5em;
    margin-top: 4px;
}
/* Checkout success */

/* Toasts */

.toast-header-success {
    background-color: #13e736;
    color: black;
}

.toast-header-info {
    background-color: #e7d913;
    color: black;
}

.toast-header-warning {
    background-color: #e78b13;
    color: black;
}

.toast-header-error {
    background-color: #e71313;
    color: black;
}

.toast-body {
    background-color: lightgray !important;
    color: black;
}

/* Toasts */

/* Admin */

.admin {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 18px;
}

.admin-input {
    color: white;
    background-color: #181818 !important;
}

/* Admin */

/* Profiles */
.profile-btn {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.5em;
}
.profile-default {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 18px;
}
.profile-items {
    padding-left: 25px !important;
    font-size: 1.25em;
}
.profile-total-title {
    margin-left: 15px;
    font-size: 1.5em;
    margin-top: 4px;
}
.profile-box{
    padding: 20px !important;
}
.profile-order-total {
    font-size: 2em;
}
.profile-total {
    display: flex;
    justify-content: center;
    background-color: #04162e;
    border-radius: 0px 0px 18px 18px;
    border: black 1px 1px 0px 1px solid;
    padding: 15px;
}
/* Profiles */

/* Reviews */

/* DELETE */

.review-test {
    background-color: grey;
    border: 1px solid black;
}

/* DELETE */

.review-image {
    height: 350px;
}

.rating-star {
    cursor: pointer;
    color: #dabd18b2;
}

/* Reviews */

/* Breakpoints */

@media (min-width: 1850px) {
    .product-card {
        margin-left: 50px !important;
    }
    .phone-review {
        position: relative !important;
        max-height: 1183px !important;
        width: 350px !important;
        padding: 10px;
        overflow: auto;
    }
    .phone-review::-webkit-scrollbar {
        width: 12px;
        border-radius: 15px;
    }
    
    .phone-review::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 15px;
    }
    
    .phone-review::-webkit-scrollbar-thumb {
        border-radius: 15px;
        -webkit-box-shadow: inset 0 0 6px rgb(195, 26, 143); 
    }
    /* https://stackoverflow.com/questions/12337821/css3-scrollbar-styling-on-a-div */
    .phone-bag-form {
        padding-left: 400px !important;
        left: 0;
    }
}

@media (max-width: 1849px) {
    .phone-review {
        align-content: flex-end;
        position: static;
        width: 1170px !important;
    }
}

@media (min-width: 1024px) {
    .btn-link{
        border: 1px solid white;
        border-radius: 45px;
        margin: 3px;
        padding: 5px;
        padding-top: 7px;
        width: 90px;
        height: 42px;
        text-align: center;
        font-size: 1.04em;
        color: white;
        box-shadow: 1px 1px 1px 1px #C31a8f;
        transition: all .3s cubic-bezier(0,0,.5,1);
    }

    .btn-link:hover {
        box-shadow: 2px 1px #21fdda;
    }
    .phone-box {
        display: inline-block;
        padding: 10px;
        padding-right: 0px;
        text-align: left;
        height: 277.5px;
        vertical-align: middle;
    }
    .phone-bag-form {
        display: inline-block;
        padding: 10px;
        margin-left: 30px;   
        padding-left: 0px;
        text-align: right;
        height: 277.5px;
        vertical-align: middle;
    }
    .phone-form {
        width: 92.5px !important;
    }
    .phone-select-title {
        padding-bottom: 15px;
    }
}

@media (max-width: 1025px) {    
    .search-sm {
        width: 150px !important;
    }

    .total-bag {
        margin-right: 10px;
    }

    .product-card {
        width: 300px !important;
        height: 560px;
    }

    .product-image {
        width: 250px !important;
    }

    .product-btn {
        font-size: 0.955em;
        margin-top: 30px !important;
    }
    .rating-star {
        font-size: 0.955em;
    }
    .phone-review {
        position: static;
        width: 823px !important; 
    }
    .profile-total-title {
        margin-left: 10px;
        font-size: 1.4em;
        margin-top: 4px;
    }
    .profile-order-total {
        font-size: 1.75em;
    }
}

@media (min-width: 992px) {
    
}

@media (max-width: 991px) {
    .mobile-menu {
        margin-left: 100px;
        border-radius: 8px;
    }

    .btn-link {
        color: white;
        font-size: 1.1em;
        backdrop-filter: blur(5px) !important;
        background-color: rgba(255, 255, 255, .15) !important;
        border-bottom: black solid 1px;
        padding-left: 8px !important;
    }

    .link-bottom {
        margin-bottom: 10px;
    }

    .btn-link:hover {
        color: white;
    }

    .dropdown-menu {
        background-color: rgba(255, 255, 255, .15) !important;
        backdrop-filter: blur(5px) !important;
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        border: #181818 solid 1px;
        border-radius: 15px;
        margin-bottom: 5px;
    }

    .dropdown-item {
        color: black;
        font-size: 1.1em;
    }

    .product-card {
        width: 350px !important;
        /* height: 560px; */
    }

    .product-image {
        height: 400px !important;
    }

    .product-btn {
        font-size: 1em;
        margin-top: 30px !important;
    }

    .rating-star {
        font-size: 1em;
    }
    .phone-review {
        position: static;
        width: 610px !important; 
    }
    .bag-total-title {
        margin-right: 15px;
    }
    .profile-total-title {
        margin-left: 7px;
        font-size: 1.25em;
        margin-top: 2px;
    }
    .profile-order-total {
        font-size: 1.3em;
    }
}

@media (max-width: 426px) {
    .footer-mobile {
        font-size: 1.5em;
        display: inline-block;   
        margin-top: 10px;          
    }

    .footer-mobile-link {
        font-size: 1em;
        display: block;
        
    }

    .banner-title{
        color: white;
        font-size: 3.5em;
    }

    .phone-image-slideshow {
        height: 550px;
        width: 400px;
        display: inline-block;
    }

    .phone-image {
        height: 500px;
        max-width: 400px;
    }

    .mobile-menu {
        margin-left: 10px;
    }

    .search-sm {
        width: 200px !important;
    }
    .search-submit {
        width: 45px;
    }

    .mobile-home {
        padding-left: 40px;
    }

    .banner-subtitle {
        font-size: 1.6em;
    }

    .product-card {
        margin-left: 25px !important;
    }

    .phone-options {
        padding: 12.5px;
    }

    .phone-form {
        width: 80px;
        margin: 5px;
        font-size: 1em;
    }
    .phone-review {
        position: static;
        width: 395px !important; 
    }
    .bag-img {
        height: 400px;
        width: 335px;
    }
    .bag-detail {
        text-align: center;
    }
    .bag-items {
        padding: 35px;
    }
    .bag-total-title {
        font-size: 1.6em;
        margin-right: 5px;
        margin-bottom: 0px;
    }
    #bag-btn-submit {
        font-size: 1.1em;
        padding: 5px;
        width: 95px;
        height: 40px !important;
    }
    .checkout-total-title {
        font-size: 1.25em;
    }
    .checkout-bag-background {
        padding-bottom: 0px;
    }
    .success-box {
        padding: 15px;
    }
    .success-sm-title {
        /* display: none; */
        width: 180px;
        margin: 0px !important;
        margin-bottom: 5px !important;
    }
    .success-sm {
        font-size: 1em;
    }
    .success-mobile{
        width: 50%;
    }
    .success-total-title {
        font-size: 1em;
        margin-left: 7.5px;
    }
    #success-order-total {
        font-size: 1.25em;
    }
    .profile-total-title {
        margin-left: 7px;
        font-size: 1em;
        margin-top: 2px;
    }
    .profile-order-total {
        font-size: 1.1em;
    }
    .table-overflow {
        overflow: auto;
    }
    .profile-items {
        font-size: 1em;
    }
    .profile-title-sm {
        font-size: 1.5em;
    }
    .profile-btn {
        font-size: 1.25em;
    }
}

@media (max-width: 376px) {
    .search-sm {
        width: 155px !important;
    }

    .search-submit {
        width: 40px;
    }

    .product-card {
        width: 290px !important;
        height: 570px;
    }

    .product-image {
        width: 250px !important;
        border-radius: 0px;
    }

    .product-btn {
        font-size: 0.91em;
    }

    .rating-star {
        font-size: 0.9em;
    }

    .phone-form {
        width: 70px;
        margin: 5px;
        font-size: 0.92em;
    }

    .phone-image-slideshow {
        height: 450px;
        width: 350px;
    }

    .phone-image {
        height: 400px;
        width: 300px;
    }
    .phone-review {
        position: static;
        width: 345px !important; 
    }
    .bag-img {
        height: 400px;
        width: 325px;
    }
    .bag-items {
        padding: 15px;
    }
    .checkout-total-title {
        font-size: 1.1em;
    }
    .table-overflow {
        overflow: auto;
    }
    .success-total-title {
        font-size: 0.9em;
        margin-left: 5px;
    }
    #success-order-total {
        font-size: 1.1em;
    }
}

@media (max-width: 321px) {
    .search-sm {
        width: 110px !important;
    }
    .search-submit {
        width: 35px;
    }
    .total-bag {
        margin-right: 5px;
    }
    .mobile-home {
        padding-left: 15px;
    }
    .banner-subtitle {
        font-size: 1.4em;
    }
    .product-card {
        margin-left: 0 !important;
    }
    .phone-form {
        width: 62.5px;
        margin: 3px;
        font-size: 0.78em;
        height: 45px;
    }
    .phone-image-slideshow {
        height: 450px;
        width: 300px;
    }
    .phone-image {
        height: 400px;
        width: 275px;
    }
    .phone-icon {
        font-size: 1.5em;
    }
    .phone-options {
        padding: 7.5px;
    }
    .phone-review {
        position: static;
        width: 290px !important; 
    }
    .phone-select-title {
        font-size: 1.5em;
    }
    .bag-img {
        height: 350px;
        width: 275px;
    }
    .bag-items {
        padding: 15px;
    }
    .checkout-total-title {
        font-size: 0.9em;
    }
    .success-total-title {
        font-size: 0.775em;
        margin-left: 3px;
    }
    #success-order-total {
        font-size: 1em;
    }
    .success-sm {
        font-size: 1em;
    }
    .success-sm-title {
        font-size: 1em;
        padding-left: 25px;
    }
    .success-details {
        overflow: auto;
    }
    .success-mobile {
        text-align: left !important;
    }
    .profile-total {
        overflow: auto;
        padding-left: 50px !important;
    }
}