/* Genral */

html {
    height: 100%;
}

body {
    background: url(/media/banner.jpg) no-repeat center center fixed;
    background-size: cover;
    /* height: calc(100vh - 164px); */
    position: relative;
    min-height: 100vh;
    color: white;
}

body a {
    color: white;
}

body a:hover {
    color: white;
    text-decoration: none;
}

.text-black {
    color: #181818!important;
}

.overlay{
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #04162e;
	z-index: -1;
}

/* Genral */

/* Nav-bar */

.nav-blue {
    background-color: transparent;
}

.mobile-menu {
    padding: 10px 15px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white!important;
    border-radius: 0.25rem;
    color: white;
}

.total-bag {
    margin-right: 25px;
    border: 1px solid white;
    border-radius: 45px;
    box-shadow: 1px 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.total-bag:hover {
    box-shadow: 2px 1px #21fdda;
}

.search-bar {
    width: 210px;
    height: 42px;
    border: 1px solid black;
    border-right: none;
    margin-right: 0px!important;
    border-radius: 45px 0px 0px 45px;
    box-shadow: 1px 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.search-bar:hover {
    box-shadow: 2px 1px #21fdda;
}

.search-submit {
    width: 50px;
    height: 42px;
    background-color: #fff;
    border: 1px solid black;
    border-left: none;
    border-radius: 0px 45px 45px 0px;
    box-shadow: 1px 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.search-submit:hover {
    box-shadow: 2px 1px #21fdda;
}

/* Nav-bar */

/* Footer */

.footer-link {
    display: block;
    font-size: 1.2em;
    padding: 3px;
    margin-top: 3px;
}

.footer{
    background-color: rgba(4, 22, 46, 0.6)!important;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    /* border-top: 0.5px solid black; */
}

/* Footer */

/* Home */

.home {
    margin-bottom: 175px;
    margin-top: 150px;
}

.banner-title{
    color: white;
    font-size: 6em;
}

.banner-subtitle {
    color: white;
    font-size: 2.5em;
}

.banner-btn {
    color: white;
    background-color: black;
    padding: 15px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.banner-link {
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 12.5px;
    margin-left: 12.5px;
    font-size: 1.75em;
    border-radius: 90px;
    width: 45px;
    height: 45px;

}

/* Home */

/* Breakpoints */

@media(min-width: 1440px){
    .row-desktop {
        justify-content: space-around;
    }
}

@media (min-width: 1024px) {
    .btn-link{
        border: 1px solid white;
        border-radius: 45px;
        margin: 2px;
        padding: 5px;
        max-width: 100px;
        text-align: center;
        color: white;
        box-shadow: 1px 1px 1px 1px #C31a8f;
        transition: all .3s cubic-bezier(0,0,.5,1);
    }

    .btn-link:hover {
        box-shadow: 2px 1px #21fdda;
    }

}

@media (min-width: 992px) {

}

@media (max-width: 991px) {

}

@media (max-width: 426px) {
    .footer-mobile {
        font-size: 1.5em;
        display: inline-block;   
        margin-top: 10px;          
    }
    .footer-mobile-link {
        font-size: 1em;
        display: block;
        
    }
    .banner-title{
        color: white;
        font-size: 3.5em;
    }

}