/* Genral */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300;400;700&display=swap');

html {
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0px;
}

body {
    background: url(/media/banner.jpg) no-repeat center center fixed;
    background-size: cover;
    /* height: calc(100vh - 164px); */
    position: relative;
    min-height: 100vh;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

body a {
    color: white;
}

body a:hover {
    color: white;
    text-decoration: none;
}

.text-black {
    color: #181818!important;
}

.overlay{
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #04162e;
	z-index: -1;
}

h1, h2 {
    font-family: 'Bebas Neue', cursive;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

/* Genral */

/* Nav-bar */

.nav-title {
    font-size: 2.5em;
    margin-top: 3px;
    margin-bottom: 0px;
}

.nav-color {
    background-color: transparent;
}

.mobile-menu {
    padding: 10px 15px;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid white!important;
    border-radius: 0.25rem;
    color: white;
}

.total-bag {
    margin-right: 25px;
    border: 1px solid white;
    border-radius: 45px;
    box-shadow: 1px 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.total-bag:hover {
    box-shadow: 2px 1px #21fdda;
}

.search-bar {
    width: 210px;
    height: 42px;
    border: 1px solid black;
    border-right: none;
    margin-right: 0px!important;
    border-radius: 45px 0px 0px 45px;
    box-shadow: 1px 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.search-bar:hover {
    box-shadow: 2px 1px #21fdda;
}

.search-submit {
    width: 50px;
    height: 42px;
    background-color: #fff;
    border: 1px solid black;
    border-left: none;
    border-radius: 0px 45px 45px 0px;
    box-shadow: 1px 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.search-submit:hover {
    box-shadow: 2px 1px #21fdda;
}

/* Nav-bar */

/* Footer */

.footer-link {
    display: block;
    font-size: 1.2em;
    padding: 3px;
    margin-top: 3px;
}

.footer{
    background-color: rgba(4, 22, 46, 0.6)!important;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    /* border-top: 0.5px solid black; */
}

/* Footer */

/* Home */

.home {
    margin-bottom: 175px;
    margin-top: 150px;
}

.banner-title{
    color: white;
    font-size: 6em;
}

.banner-subtitle {
    color: white;
    font-size: 2.5em;
}

.banner-btn {
    color: white;
    background-color: black;
    padding: 15px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.banner-link {
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 12.5px;
    margin-left: 12.5px;
    font-size: 1.75em;
    border-radius: 90px;
    width: 45px;
    height: 45px;

}

/* Home */

/* Store page */

.product-card {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    border: solid black 1px;
    color: #cecece;
    width: 350px!important;
    height: 550px;
    margin-top: 10px;
    border-radius: 18px;
    display: block;
    text-align: center;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
}

.product-card:hover {
    box-shadow: 5px 5px 5px 5px #21fdda;
    background-color: rgba(85, 85, 85, 0.15);
    backdrop-filter: blur(15px);
}

.product-card h3, h4 {
    margin-bottom: 5px;
}

.product-card hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

.product-content {
    position: relative;
    left: 0;
    text-align: start;
    padding-right: 0px;
}

.product-image {
    height: 400px;
    max-width: 350px;
    border-radius: 45px;
    object-fit: cover;
}

.product-image:hover {
    transition: all .3s cubic-bezier(0,0,.5,1);
    height: 404px;
}

.product-details {
    padding-left: 0;
}

.product-btn {
    border: solid black 1px;
    padding: 10px;
    border-radius: 40px;
    background-color: #04162e;
    box-shadow: 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
    color: white;
    display: block;
    font-size: 1.15em;
    margin-top: 25px;
}

.product-btn:hover {
    box-shadow: 2px 1px #21fdda;
}

/* Store page */

/* Phone details page */

#add-bag-btn {
    width: 150px;
}

.phone-details {
    text-align: center;
    margin-bottom: 10px;
}

.phone-image-slideshow {
    height: 650px;
    width: 550px;
    display: inline-block;
}

.phone-image {
    height: 600px;
    max-width: 500px;
}

.phone-specs {
    padding: 20px;
    padding-top: 10px;
}

.phone-icon {
    font-size: 2em;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    font-style: normal;
}

.phone-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
    /* font-family: 'Ubuntu', sans-serif; */
}

.phone-options {
    border: white 1px solid;
    margin-bottom: 10px;
    padding: 20px;
}

.phone-bag {
    display: inline-block;
}

.phone-select {
    border: none;
    background-color: #04162e;
    color: white;
    width: 110px;
}

.phone-form {
    border: white solid 1px;
    background-color: #181818;
    /* PLACEHOLDER */
    border-radius: 90px;
    padding: 10px;
    margin: 10px;
    height: 50px;
    width: 125px;
    font-size: 1.2em;
    display: block;
    text-align: center;
}

.phone-form:active {
    border: #21fdda 3px solid;
}

.phone-list {
    display: flex;
    flex-direction: row;
}

.phone-review {
    border: black 1px solid;
    margin-bottom: 10px;
    padding: 20px;
}

.user-review {
    font-size: 1.2em;
}

/* Phone details page */

/* Bag page */

#bag-btn-submit {
    width: 150px;
    font-size: 1.3em;
}

.bag-background {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 20px;
    margin: 10px;
    border-radius: 18px;
    display: block;
}

.bag-items {
    padding-left: 0px;
}

.bag-btn {
    border: solid black 1px;
    padding: 7px;
    border-radius: 40px;
    background-color: #04162e;
    box-shadow: 1px 1px 1px #C31a8f;
    transition: all .3s cubic-bezier(0,0,.5,1);
    color: white;
    font-size: 1.3em;
    width: 100px;
}

.bag-hr {
    border: rgba(255, 255, 255, .15) solid 1px;
}

.bag-detail {
    position: relative;
    left: 0;
    text-align: end;
    padding-right: 0px;
    margin-bottom: 15px;
}

.bag-detail h2{
   font-family: 'Ubuntu', sans-serif;
}

.bag-img {
    float: left;
    height: 325px;
}

.bag-total {
    display: flex;
}

.edit-card {
    padding: 5px;
    
}

/* Bag page */

/* Reviews */

/* DELETE */

.review-test {
    background-color: grey;
    border: 1px solid black;
}

/* DELETE */

.review-image {
    height: 350px;
}

/* Reviews */

/* Breakpoints */

@media (min-width: 1024px) {
    .btn-link{
        border: 1px solid white;
        border-radius: 45px;
        margin: 5px;
        padding: 5px;
        padding-top: 7px;
        width: 100px;
        height: 42px;
        text-align: center;
        font-size: 1.04em;
        color: white;
        box-shadow: 1px 1px 1px 1px #C31a8f;
        transition: all .3s cubic-bezier(0,0,.5,1);
    }

    .btn-link:hover {
        box-shadow: 2px 1px #21fdda;
    }

}

@media (min-width: 992px) {

}

@media (max-width: 991px) {

}



@media (max-width: 426px) {
    .footer-mobile {
        font-size: 1.5em;
        display: inline-block;   
        margin-top: 10px;          
    }
    .footer-mobile-link {
        font-size: 1em;
        display: block;
        
    }
    .banner-title{
        color: white;
        font-size: 3.5em;
    }
    .phone-image-slideshow {
        height: 550px;
        width: 400px;
        display: inline-block;
    }
    .phone-image {
        height: 500px;
        max-width: 400px;
    }

}